body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.grid-container {
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridbox {
    background-color: rgb(255, 127, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    transition: background-color 0.3s ease; /* Smooth transition */
    border: 1px solid rgb(255, 255, 255); /* Added border */
    box-sizing: border-box;  /* Ensures padding and border are included in the element's total width and height */
}

.gridbox:hover {
    background-color: rgb(255, 192, 192); /* Lighter shade on hover */
}

.grid-size {
    border: none;
    background-color: rgb(255, 127, 127);
    color: aliceblue;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.grid-size:hover {
    background-color: rgb(255, 192, 192);
}
